<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>

<form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username">
    <label for="userPass">Password</label>
    <input type="password" name="password" id="userPass" placeholder="Password">
    <div><input type="submit" value="Log in"/></div>
</form>

    <p>Not a member yet? <a href="/registration">Sign in</a></p>
</body>
</html>
